nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: auto;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em 0;
}

nav > span {
  font-family: 'Bungee', cursive;
  align-self: flex-end;
  margin-bottom: 0.8em;
  font-size: 1.5em;
}

.write-a-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-angles-down {
  color: red;
}




/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */
