nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em 0;
  position: fixed;
  z-index: 1;
  top: 0px;
}

nav > span {
  font-family: 'Bungee', cursive;
  align-self: flex-end;
  margin-bottom: 0.8em;
  font-size: 1.5em;
}

.write-a-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-angles-down {
  color: red;
}






